www.andrewandsarahwedding.com andrewandsarahwedding.com {
  tls andrew.the.techie@gmail.com
  gzip

  proxy / wordpress:80 {
   transparent
  }
 }


api.andrewandsarahwedding.com {
        proxy / wedding_manager_api:8000 {
                transparent
        }
        gzip

        tls andrew.the.techie@gmail.com
}